<!DOCTYPE html>

<html lang="en">

<head>
	
	{% load static %}

    <meta charset="utf-8">
    <title>Digital TV - Personal Magazine blog Template</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <!-- theme meta -->
    <meta name="theme-name" content="DIGITAL TV" />

    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico" type="image/x-icon' %}">
    
    <!-- THEME CSS
	================================================== -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}">
    <!-- Themify -->
    <link rel="stylesheet" href="{% static 'plugins/themify/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick-theme.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick-carousel/slick.css' %}">
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/magnific-popup/magnific-popup.css' %}">
    <!-- manin stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header class="header-top bg-grey justify-content-center">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-2 col-md-4 text-center d-none d-lg-block">
          <a class="navbar-brand " href="{% static 'index.html' %}">
            <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
          </a>
      </div>

      <div class="col-lg-8 col-md-12">
        <nav class="navbar navbar-expand-lg navigation-2 navigation">
          <a class="navbar-brand text-uppercase d-lg-none" href="#">
            <img src="{% static 'images/logo.png' %}" alt="" class="img-fluid">
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="ti-menu"></span>
            </button>

              <div class="collapse navbar-collapse" id="navbar-collapse">
                  <ul id="menu" class="menu navbar-nav mx-auto">
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="{% static 'index.html' %}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Home
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <a class="dropdown-item" href="{% static 'index.html' %}">Home 1</a>
                              <a class="dropdown-item" href="{% static 'index-2.html' %}">Home 2</a>
                              <a class="dropdown-item" href="{% static 'index-3.html' %}">Home 3</a>
                              <a class="dropdown-item" href="{% static 'index-4.html' %}">Home 4</a>
                              <a class="dropdown-item" href="{% static 'index-5.html' %}">Home 5</a>
                              <a class="dropdown-item" href="{% static 'index-6.html' %}">Home 6</a>
                          </div>
                      </li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           RESEÑAS
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item" href="{% url 'blogForm' %}">Nueva Reseña</a>
                            
                          </div>
                      </li>

                      <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
					
					  
                          <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Post Format
                          </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item" href="{% static 'post-video.html' %}">Video Formats</a>
                            <a class="dropdown-item" href="{% static 'post-audio.html' %}">Audio Format</a>
                            <a class="dropdown-item" href="{% static 'post-link.html' %}">Quote Format</a>
                            <a class="dropdown-item" href="{% static 'post-gallery.html' %}">Gallery Format</a>
                            <a class="dropdown-item" href="{% static 'post-image.html' %}">Image Format</a>
                          </div>
                      </li>
                      
                      
					
                  </ul>

              </div>
          </nav>
        </div>
		
		<ul id="menu" class="menu navbar-nav mx-auto">
			<nav class="navbar bg-light">
				<form class="container-fluid justify-content-start">
					{% if user.is_authenticated %} 
					<button class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Cerrar Sesion</a>
					<button class="nav-item"><a href="{% url 'singEditForm' %}" class="nav-link">Modificar Perfil</a>
					{% else %}
					
					<button class="nav-item"><a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesion</a></button>
				

					<button class="nav-item"><a href="{% url 'singup' %}" class="btn btn-primary">Registrarse</a></button>
					{% endif %}
				</form>
			</nav>

		</ul>
        
        </div>
    </div>
  </div>
</header>

{% block container %} 







{% endblock  %}
<section class="slider mt-4">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col-lg-12 col-sm-12 col-md-12 slider-wrap">
	            <div class="slider-item">
	               <div class="slider-item-content">
						<div class="post-thumb mb-4">
							<a href="{% static 'blog-single.html' %}">
								<img src="{% static 'images/slider/slider1.jpg' %}" alt="" class="{% static 'img-fluid' %}">
							</a>
						</div>

						<div class="slider-post-content">
							<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Cine</span>
							<h3 class="post-title mt-1"><a href="{% static 'blog-single.html' %}">Mejores Peliculas de los 00'</a></h3>
							<span class=" text-muted  text-capitalize">January 2, 2023</span>
						</div>
	               </div>
	            </div>

	            
	            <div class="slider-item">
	               <div class="slider-item-content">
						<div class="post-thumb mb-4">
							<a href="{% static 'blog-single.html' %}">
								<img src="{% static 'images/slider/slider3.jpg' %}" alt="" class="img-fluid">
							</a>
						</div>
						<div class="slider-post-content">
							<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Premiaciones</span>
							<h3 class="post-title mt-1"><a href="{% static 'blog-single.html' %}">Lo mejor de los Oscars 2023</a></h3>
							<span class=" text-muted  text-capitalize">June 05, 2023</span>
		               </div>
	               </div>
	            </div>

	            <div class="slider-item">
	               <div class="slider-item-content">
						<div class="post-thumb mb-4">
							<a href="{% static 'blog-single.html' %}">
								<img src="{% static 'images/slider/slider2.jpg' %}" alt="" class="img-fluid">
							</a>
						</div>

						<div class="slider-post-content">
							<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">Travel</span>
							<h3 class="post-title mt-1"><a href="{% static 'blog-single.html' %}">Las Mejores Series de Netflix</a></h3>
							<span class=" text-muted  text-capitalize">Diciembre 15, 2022</span>
						</div>
	               </div>
	            </div>

	        </div>
		</div>
	</div>
</section>
<!-- seccion definitiva -->
<section class="section-padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<article class="post-grid mb-5">
							<a class="post-thumb mb-4 d-block" href="{% static 'blog-single.html' %}">
								<img src="{% static 'images/slider/slider1.jpg' %}" alt="" class="img-fluid w-100">
							</a>
							<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Cine Clasico</span>
							<h3 class="post-title mt-1"><a href="blog-single.html">Mejores Peliculas de los 00'</a></h3>
				
							<span class="text-muted letter-spacing text-uppercase font-sm">Enero 6, 2023</span>
							
						</article>
					</div>
					<div class="col-lg-3 col-md-6">
						<article class="post-grid mb-5">
							<a class="post-thumb mb-4 d-block" href="{% static 'blog-single.html' %}">
								<img src="{% static 'images/slider/slider2.jpg' %}" alt="" class="img-fluid w-100">
							</a>
							<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Premiaciones</span>
							<h3 class="post-title mt-1"><a href="blog-single.html">Lo mejor de los Oscars 2023</a></h3>
				
							<span class="text-muted letter-spacing text-uppercase font-sm">Diciembre 15, 2022</span>
							
						</article>
					</div>

					<div class="col-lg-3 col-md-6">
						<article class="post-grid mb-5">
							<a class="post-thumb mb-4 d-block" href="{% static 'blog-single.html' %}">
								<img src="{% static 'images/slider/slider3.jpg' %}" alt="" class="img-fluid w-100">
							</a>
							<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Netflix</span>
							<h3 class="post-title mt-1"><a href="blog-single.html">Las Mejores Series de Netflix</a></h3>
				
							<span class="text-muted letter-spacing text-uppercase font-sm">Julio 20, 2022</span>
							
						</article>
					</div>

					<div class="col-lg-3 col-md-6">
						<article class="post-grid mb-5">
							<a class="post-thumb mb-4 d-block" href="{% static 'blog-single.html' %}">
								<img src="{% static 'images/slider/slider4.jpg' %}" alt="" class="img-fluid w-100">
							</a>
							<span class="cat-name text-color font-extra text-sm text-uppercase letter-spacing-1">Nuevos</span>
							<h3 class="post-title mt-1"><a href="blog-single.html">Que hay de nuevo en Amazon Prime</a></h3>
				
							<span class="text-muted letter-spacing text-uppercase font-sm">Enero 3, 2023</span>
							
						</article>
					</div>

				</div>
			</div>
		</div>

	</div>
</section>

<section class="section-padding">
	

<section class="footer-2 section-padding gray-bg pb-5">
	<div class="container">
		<div class="row justify-content-center">
	      <div class="col-lg-6">
	        <div class="subscribe-footer text-center">
	          <div class="form-group mb-0">
	          		<h2 class="mb-3">Suscribete a Digital TV</h2>
	              	<p class="mb-4">Suscribete y Comparte tus Reseñas<p>
					    </div>
				  	</div>
	            </div>
	        </div>
	      </div>
	</div>
</section>	


<!-- THEME JAVASCRIPT FILES
================================================== -->
<!-- initialize jQuery Library -->
<script src="plugins/jquery/jquery.js"></script>
<!-- Bootstrap jQuery -->
<script src="plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="plugins/bootstrap/js/popper.min.js"></script>
<!-- Owl caeousel -->
<script src="plugins/owl-carousel/owl.carousel.min.js"></script>
<script src="plugins/slick-carousel/slick.min.js"></script>
<script src="plugins/magnific-popup/magnific-popup.js"></script>
<!-- Instagram Feed Js -->
<script src="plugins/instafeed-js/instafeed.min.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCC72vZw-6tGqFyRhhg5CkF2fqfILn2Tsw"></script>
<script src="plugins/google-map/gmap.js"></script>
<!-- main js -->
<script src="js/custom.js"></script>


</body>
</html>
