{% extends 'index.html' %}

{% load static %}

{% block container %}
<header class="header-top bg-grey justify-content-center">
	<nav class="navbar navbar-expand-lg navigation">
		 <div class="container">
			
			<h2 class="mt-4 mb-3">Proyecto Realizado por: Dany Aramati Tinoco</h2>
			<div class="container">
				<h1 class="mt-4 mb-3">Digital TV</h1>
					
					<p> Consiste en una pagina tipo Blog donde se pueden realizar reseñas de peliculas y series, asi como ver los post ya creados por usuarios y tiene la posibilidad de realizar envio y recepcion de Mensajes entre los usuarios.</p>
						<h2 class="mt-4 mb-3">En que trabajo</h2>
								<p>Llegue a Argentina hace 4 años, desde entonces he trabajado en el Area de Telecomunicaciones, y desde hace 1 año soy Soporte de Producción para el sistema de un Banco, me interesa aprender del rubro para poder desarrollarme profesionalmente en el area, y poder afrecer un mejor servicio con mas calidad</p>
		
								<div class="container">
		
		</div>
	 </nav>
 
 </header>


</div>


	
</div>

{% endblock  %}

